* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #edecec;
}

.logincard {
    width: 70%;
    max-width: 1200px; 
    height: 85vh;       
    max-height: 800px;  
    display: flex;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Ensures corners stay clean */
}

.formcard {
    height: 100%;
    flex: 1;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 1.2rem;
}

.imagecard {
    height: 100%;
    flex: 1;
    background-image: url('../../../../assets/images/FashionModel.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.brandName {
    font-size: 2.25rem;
    font-weight: bold;
    letter-spacing: -0.025em;
    margin-bottom: 0.5rem;
}

.title {
    font-size: 1.5rem;
    color: #000;
}

.subtitle {
    color: #666;
    text-align: center;
    font-size: 0.9rem;
    max-width: 80%;
    line-height: 1.4;
}

.inputGroup {
    width: 90%;
}

.input {
    width: 100%;
    padding: .8rem 1.5rem;
    border: 1px solid #d1d5db;
    border-radius: 9999px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.2s;
}

.input:focus {
    border-color: #000;
}

.loginButton {
    width: 90%;
    background-color: black;
    color: white;
    padding: 1rem;
    border-radius: 9999px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: opacity 0.2s;
}

.loginButton:hover {
    opacity: 0.8;
}

.loginButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.backLink {
    margin-top: 1rem;
    font-size: 0.875rem;
    color: #4b5563;
    text-decoration: none;
    font-weight: 600;
}

.backLink:hover {
    text-decoration: underline;
    color: #000;
}

/* Tablet and Mobile adjustments */
@media (max-width: 1024px) {
    .logincard { width: 90%; }
}

@media (max-width: 768px) {
    .imagecard { display: none; }
    .logincard { width: 95%; max-width: 450px; }
}