.container{
    width: 100%;
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.home_content{
    background-color: #f9fafb;
    margin-top: 80px;
    flex: 1;
}

@media (max-width: 768px) {
  .home_content {
    margin-top: 70px;
  }
}