
.dashboard_container{
    height: 100vh;
    display: flex;
}
.left_container{
    background-color: black;
    display: flex;
    flex-direction: column;
    min-height: 0;
    overflow: hidden;
}
.right_container {
    flex: 1;
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 5px;
    min-height: 0;
    overflow-y: hidden;   /* Right side scrolls */
}
.navbar_wrapper {
    position: sticky;
    top: 0;
    z-index: 100;
}

.hero_container{
    background-color: white;
    flex: 11;
    min-height: 0;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    border-radius: 10px;
    padding: 10px;
    transition: all 0.9s ease;
}