.hero_card{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 10px;
  box-sizing: border-box;
  background: white;
}

.info_card { 
  flex: 1;  
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.info_card::-webkit-scrollbar {
  display: none;
}


.row1, .row2 {
  display: grid;
  gap: 20px;
  margin-bottom: 20px;
  height: 30%;
}

.row1 {
  grid-template-columns: repeat(3, 1fr);
}

.row2 {
  grid-template-columns: repeat(2, 1fr);
}

.card, .card_large {
  background: white;
  border-radius: 14px;
  padding: 20px;
  box-shadow: 2px 2px 16px rgba(0,0,0,0.08);
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.2s ease;
}

.card:hover, .card_large:hover {
  box-shadow: 0px 4px 24px rgba(0,0,0,0.12);
  transform: translateY(-3px);
}

.card h3, .card_large h3 {
  font-size: 16px;
  margin-bottom: 6px;
  font-weight: 500;
  color: #333;
}

.card p, .card_large p {
  font-size: 22px;
  font-weight: 600;
  color: #111;
}
.card_icon{
  font-size: 35px;
  margin-left: 20px;
  margin-bottom: 15px;
}